*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.idea/.name

.idea/.rakeTasks

.idea/dictionaries/digital466.xml

.idea/two_faced.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.gitignore

.gitignore
